body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image: url('../images/background.png');
    background-repeat: repeat;
    margin: 0px;
    padding: 0px;
}

h1, h2 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #4aaaa5;
}

header, .main-content {
    background-color: #ffffff;
}

header {
    clear: both;
    display: block;
    overflow: auto;
    border-bottom: 2px solid #cccccc;
}

footer {
    background-color: #666666;
    /* position: fixed; */
    /* bottom: 0px; */
    margin-top:20px;
    height:50px;
    width: 100%;
    text-align: center;
    height: 40px;
    color: #cccccc;
    border-top: 8px solid #4aaaa5;
    font-size: 10px;
    position:relative;
}

a {
    text-decoration: none;
    color: #777777;
}

a:hover {
    color: #4aaaa5;
    text-decoration: underline;
}

nav {
    padding: 9px;
    float: right;
}

nav ul {
    float: right;
    list-style-type: none;
}

nav li {
    float: left;
    padding: 0px 20px 0px 20px;
    border-left: 1px solid #eeeeee;
}

input, textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    border: 1px solid #dddddd;
    margin-top: 8px;
}

button {
    background-color: #4aaaa5;
    border: none;
    padding: 8px 25px;
    color: #ffffff;
}

.top-margin-0 {
    margin: 0px;
}

.main-content, .header {
    width: 960px;
    margin: 0 auto;
}

.main-logo {
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
    padding: 20px;
    margin: 0px 20px 0px 0px;
}

.copyright {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 0px 0px 5px 0px;
} 

.main-content {
    margin-top: 20px;
    /* margin-bottom:100px; */
    border: 1px solid #dddddd;
    padding-top: 15px;
}

.main-header {
    padding: 20px 0px 20px 0px;
    margin: 0px 25px 0px 25px;
    border-bottom: 2px solid #cccccc;
}

.main-body {
    padding: 25px 25px 25px 25px;
}

.about-me-image {
    float: left;
    margin: 0px 25px 10px 0px;
}

.about-me-text {
    margin: -10px 0px 0px 0px;
    line-height: 2;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.first-menu-item {
    border: none;
}

.last-menu-item {
    padding-right: 0px;
}

.row-portfolio {
    margin: 0px 0px 25px 0px;
}

.row-portfolio::after {
    display: block;
    content: "";
    clear: both;
}

.col-portfolio {
    margin-right: 30px;
    float: left;
    position: relative;
}

.portfolio-label {
    font-size: 20px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    bottom: 10px;
    position: absolute;
    width: 100%;
    padding: 10px 0px 10px 0px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.content {
    min-height: calc(100vh - 70px);

}

